<div class="wrapper">
    <h3>Login</h3>
    <hr />
    <form #userlogin="ngForm" class="form-signin" (ngSubmit)="doLogin(userlogin.value)">
        <div class="form-group">
            <label for="inputUsername">Email address</label>
            <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" ngModel>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" ngModel>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>