<app-header></app-header>
<div class="container">
    <div class="col-md-6">
        <div class="col-md-12" *ngIf="calendarOptions">
            <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
        </div>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> {{message}}
    </div>

    <div class="col-md-6">
        <form #userEvent="ngForm" class="form-event" (ngSubmit)="onSubmitEvent(userEvent.value)">
            <div class="form-group row">
                <label for="inputTitle" class="col-sm-1 col-form-label">Title</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Titulo" [(ngModel)]="title" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="form-check col-md-offset-3">
                    <label class="form-check-label" for="defaultCheck1"> All Day Event
                        <input class="form-check-input" type="checkbox" [checked]="allDay" (change)="allDay = !allDay">

                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputStartDate" class="col-sm-1 col-form-label"> Start</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="inputStartDate" name="startDate" [(ngModel)]="startDate" pattern="dd/MM/YYYY"
                        value="{{ startDate}}">
                </div>
                <div class="col-sm-3 " *ngIf="!allDay">
                    <input type="time" class="form-control" id="inputstartDateT" name="startDateT" [(ngModel)]="startDateT" value="{{ startDateT }}">
                </div>
            </div>
            <div class="form-group row" *ngIf="!allDay">
                <label for="inputEndDate" class="col-sm-1 col-form-label">End</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="inputEndDate" name="endDate" [(ngModel)]="endDate" pattern="dd/MM/YYYY" value="{{ endDate}}">
                </div>
                <div class="col-sm-3">
                    <input type="time" class="form-control" id="inputEndDateT" name="endDateT" [(ngModel)]="endDateT" value="{{ endDateT }}">
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col-sm-3 pull-right">
                    <button type="submit" class="btn btn-primary" *ngIf="!show">Create Event</button>
                    <button type="submit" class="btn btn-primary" *ngIf="show">Edit</button>
                </div>
                <div class="form-group" *ngIf="show">
                        <button class="btn btn-default" (click)="cancelEditEvent()">Cancel</button>
                        <button class="btn btn-danger" (click)="deleteEvent()">Delete</button>
                    </div>
            </div>
        </form>

        
    </div>
</div>